@import "variables";
.flex {
  display: flex;
}

$justify-options: (
        start: start,
        center: center,
        end: end,
        between: space-between
);
$align-items-options: (
        start: start,
        center: center,
        end: end,
        baseline: baseline
);

@each $key, $value in $justify-options {
  .justify-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $align-items-options {
  .items-#{$key} {
    align-items: $value;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}


/*Responsive flex-box*/
/* Responsive min-width */
@each $breakpoint, $sizes in $breakpoints {
  @media (min-width: map-get($sizes, 'width')) {
    .#{$breakpoint}\:justify-start {
      justify-content: start;
    }
  }
}
/* Responsive min-height */
@each $breakpoint, $sizes in $breakpoints {
  @media (min-height: map-get($sizes, 'height')) {
       .#{$breakpoint}\:min-h-items-center {
         align-items: center;
       }
  }
}
