@import "variables";
.flex {
  display: flex;
}

$justify-options: (
        start: start,
        center: center,
        end: end,
        between: space-between
);
$align-items-options: (
        start: start,
        center: center,
        end: end,
        baseline: baseline
);

@each $key, $value in $justify-options {
  .justify-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $align-items-options {
  .items-#{$key} {
    align-items: $value;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}


/*Responsive flex-box*/
/* Responsive justify-content */
@each $breakpoint, $sizes in $breakpoints {
  @media (min-width: map-get($sizes, 'width')) {
    .#{$breakpoint}\:justify-start {
      justify-content: start;
    }
    .#{$breakpoint}\:justify-between {
      justify-content: space-between;
    }
  }
}
/* Responsive align-items */
@each $breakpoint, $sizes in $breakpoints {
  @media (min-width: map-get($sizes, 'width')) {
       .#{$breakpoint}\:items-center {
         align-items: center;
       }
  }
  @media (min-height: map-get($sizes, 'height')) {
    .#{$breakpoint}\:min-h-items-center {
      align-items: center;
    }
  }
}

/* Responsive flex direction */
@each $breakpoint, $sizes in $breakpoints {
  @media (min-width: map-get($sizes, 'width')) {
    .#{$breakpoint}\:flex-col {
      flex-direction: column;
    }
    .#{$breakpoint}\:flex-row {
      flex-direction: row;
    }
    .#{$breakpoint}\:flex-row-reverse {
      flex-direction: row-reverse;
    }
  }
}
