.d-flex {
  display: flex;
}
.start-x {
  justify-content: start;
}

.start-y {
  align-items: start;
}

.center-y {
  align-items: center;
}
.center-x {
  justify-content: center;
}
.end-y {
  align-items: end;
}
.end-x {
  justify-content: end;
}

.right-x {
  justify-content: end;
}

.between {
  justify-content: space-between !important;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}

.wrapper {
  flex-wrap: wrap;
}

.stretch {
  align-items: stretch;
}

.flex-1 {
  flex: 1;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
