@import 'mixins';
@import 'variables';
/* Font size */
$text-sizes: (
  xs: (
    font-size: 0.75rem,
    line-height: 1rem
  ),
  sm: (
    font-size: 0.875rem,
    line-height: 1.25rem
  ),
  base: (
    font-size: 1rem,
    line-height: 1.5rem
  ),
  lg: (
    font-size: 1.125rem,
    line-height: 1.75rem
  ),
  xl: (
    font-size: 1.25rem,
    line-height: 1.75rem
  ),
  2xl: (
    font-size: 1.5rem,
    line-height: 2rem
  ),
  3xl: (
    font-size: 2rem,
    line-height: 2.25rem
  ),
  4xl: (
    font-size: 2.25rem,
    line-height: 2.5rem
  ),
  5xl: (
    font-size: 3rem,
    line-height: 1
  ),
  6xl: (
    font-size: 3.75rem,
    line-height: 1
  ),
  7xl: (
    font-size: 4.5rem,
    line-height: 1
  ),
  8xl: (
    font-size: 6rem,
    line-height: 1
  ),
  9xl: (
    font-size: 8rem,
    line-height: 1
  )
);

@each $size, $properties in $text-sizes {
  .text-#{$size} {
    font-size: map-get($properties, font-size);
    line-height: map-get($properties, line-height);
  }
}

@each $breakpoint, $sizes in $breakpoints {
  @media (min-width: map-get($sizes, 'width')) {
    @each $size, $properties in $text-sizes {
      .#{$breakpoint}\:text-#{$size} {
        font-size: map-get($properties, font-size);
        line-height: map-get($properties, line-height);
      }
    }
  }
}

.text-3xl {
  @include down(600) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/*Thickness*/
.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.text-semi-bold {
  font-weight: 600;
}
.text-bold {
  font-weight: bold;
}

/* Color */
.text-success {
  color: var(--success);
}
.text-contrast-70 {
  color: var(--contrast-70);
}

.invalid-feedback {
  max-width: 300px;
  color: var(--red);
}

/*Text alignement*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
