/*Height && width */
.vh-100 {
  min-height: 100vh;
}

.max-100 {
  max-width: 100%;
}

.h-full {
  height: 100%;
}

.h-fit {
  height: fit-content;
}
.w-fit {
  width: fit-content;
}

.h-auto {
  height: auto;
}

.w-full {
  width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-w-md {
    max-width: 500px;
}

.min-w-md {
  min-width: 500px;
}
