input.no-style {
  background: transparent;
  border: 0;
}

textarea, input {
  color: var(--light);
}

.input {
  background: var(--grey-400);
  border-radius: var(--radius);
  color: var(--light);
  border: 2px solid transparent;
  transition: border 0.1s ease-in;
  padding: 8px 16px;
  resize: none;
}
.textarea:hover, .input:hover {
  border-color: var(--contrast-30)
}
.textarea:focus, .input:focus {
  border-color: var(--primary)
}
