/* Links */
$linkColor: var(--primary-light);
.link {
  color: $linkColor;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

.link:hover,
.link:active {
  text-decoration: underline;
}
